.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grad-txt{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.grad-bg{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
}

header{
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;
    align-content: center;
}

nav{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    color: #FFFFFF;
}

.menu ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffcd;
}

.btn-container{
    padding: 12px 16px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    border-radius: 10000px;
    cursor: pointer;
}

.btn-menu{
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 576px){
    header{
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    }
    nav{
    width: 100%;
    }
    .logo h1{
        font-size: large;
        text-wrap: inherit;
    }

    .menu , .btn-container{
        display: none;
    }

    .hamburger{
    display: block;
    cursor: pointer;
}
}