.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grad-txt{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.grad-bg{
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
}

header{
    width: 100%;
    height: 92px;
    background-color: #1A0B2E;
    align-content: center;
}

nav{
    height: 92px;
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.menu ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu a{
    text-decoration: none;
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffffcd;
}

.btn-container{
    padding: 12px 16px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    border-radius: 10000px;
    cursor: pointer;
}

.btn-menu{
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

header hr{
    color: #FFFFFF;
    opacity: 10%;
    margin-bottom: 80px; 
}

#banner{
    width: 100%;
    height: 760px;
    background: url(./assets/hero-bg.png);
    background-size: cover;
    justify-items: center;
    align-items: center;
    padding-top: 101px;
}

.banner-container{
    max-width: 550px;
    height: 558px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.banner-circle{
    position: relative;
    width: 350px;
    height: 350px;
}

.circle {
    width: 100%;
    height: 100%;
}

.microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 200px;
}

.banner-text{
    text-align: center;
    margin-top: 40px;
}
.banner-text h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

.new{
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    text-align: center;
    padding-top: 8px;

    position: absolute;
    top: 12px;
    left: 252px;
}

.new p{
    font-size: 18px;
    font-weight: 600px;
    color: #1A0B2E;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-top: 8px;
    opacity: 80%;
}

.btn-holder{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
.spotify{
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.btn-bg,
.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn-bg{
    padding: 12px 20px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    border-radius: 10000px;
    cursor: pointer;
    
}

.subscribe{
    padding: 12px 20px;
    background: none;
    border-radius: 10000px;
    cursor: pointer;
    border: 0.5px solid #00FF88;
}

.message{
    border: none;
    background: none;
    color: #00FF88;
    font-weight: 600;
    cursor: pointer;
}

#about{
    width: 100%;
    height: 646px;
    background-color: #1A0B2E;
    padding: 50px 200px 150px 200px;
    text-align: center;
}

.about-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-text p{
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
    margin-bottom: 80px;
}

.about-text hr{
    color: #FFFFFF;
    opacity: 10%;
    margin-bottom: 80px;
}

.about-ratings{
    display: flex;
    justify-content: space-around;
}

.ratings-card h1{
    font-size: 48px;
    font-weight: 900;
    height: 59px;
    color: #00FF88;
    margin-bottom: 16px;
}

.ratings-card p{
    color:#FFFFFF;
    opacity: 80%;
    line-height: 20px;
}

#services{
    width: 100%;
    height: 1122px;
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

#services h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.service-container{
    display: grid;
    height: 783px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.service-card{
    background-color: #351165a5;
    border-radius: 40px;
    padding: 40px;
    text-align: left;
    align-content: center;
}

.service-card h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 16px;
}

.service-card p{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    margin-top: 16px;
}

#card-1{
    grid-area: card-1;
}
#card-2{
    grid-area: card-2;
}
#card-3{
    grid-area: card-3;
}
#card-4{
    grid-area: card-4;
}
#card-5{
    grid-area: card-5;
}

.service-container{
    grid-template-areas: 
        "card-1 card-2 card-2"
        "card-1 card-3 card-3"
        "card-4 card-4 card-5"
}

#featured{
    width: 100%;
    height: 1276px;
    padding: 120px 200px;
    background-color: #1A0B2E;
}

#featured h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.video-container{
    height: 440px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 120px;
}

.video-card{
    max-width: 380px;
    background-color: #250D44;
    border-radius: 24px;
    
}

.border-frame{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: hidden;
}

.video-card h4{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-left: 24px;
    
}

.video-card p{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 12px;
    margin-left: 24px;
}

.duration{
    display: flex;
    gap: 6px;
    margin-left: 24px;
}

.duration img{
    height: 20px;
}

.duration small{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #00FF88;
    opacity: 100%;
}

.alex{
    height: 280px;
    background-color: #3511658e;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
}

.alex-text h4{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.alex-text p{
    line-height: 24px;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 16px;
}

.social-images{
    display: flex;
    align-items: center;
    gap: 8px;
}

.round {
    height: 40px;
    width: 40px;
    border: 2px solid #533C72;
    border-radius: 50%;
    padding: 9.5px;

}